@import "../app.scss";

.post-works-page {
  > .post-content {
    max-width: 90vw;
    margin: 161px auto 0;

    @include mq(lg) {
      margin: 120px auto 0;
    }

    @include mq(xs) {
      margin-top: 110px;
    }

    > .box-firstview {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      @include mq(xs) {
        flex-direction: column;
      }

      > .box-overview {
        > .page-title {
          color: $color-gray500;
          font-size: 0.95vw;

          @include mq(lg) {
            font-size: 1.25vw;
          }

          @include mq(md) {
            font-size: 1.55vw;
            margin-bottom: 41px;
          }

          @include mq(xs) {
            font-size: 3vw;
          }
        }

        > .title {
          font-family: "dnp-shuei-mincho-pr6n", sans-serif;
          font-size: 2.9vw;
          font-weight: 400;
          margin-bottom: 10px;

          @include mq(md) {
            font-size: 4vw;
            margin-bottom: 6px;
            margin-right: 0;
          }

          @include mq(xs) {
            font-size: 8.6vw;
          }
        }

        > .box-information {
          display: flex;
          align-items: center;

          > .date {
            color: $color-gray500;
            font-size: 0.85vw;
            margin-right: 36px;

            @include mq(lg) {
              font-size: 1.25vw;
            }

            @include mq(md) {
              font-size: 1.55vw;
            }

            @include mq(xs) {
              font-size: 3vw;
              margin-right: 24px;
            }
          }

          > .list-category {
            display: flex;

            > .category {
              position: relative;
              color: $color-green400;
              font-size: 0.85vw;
              margin-left: 7px;
              padding-left: 14px;

              @include mq(lg) {
                font-size: 1.25vw;
              }

              @include mq(md) {
                font-size: 1.55vw;
              }

              @include mq(xs) {
                font-size: 3vw;
              }

              &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                border-radius: 50px;
                background-color: $color-green400;
                width: 7px;
                height: 7px;
              }
            }
          }
        }
      }

      > .button {
        align-self: center;

        > .link {
          @include mq(lg) {
            font-size: 1.2vw;
            padding: 6px 47px 6px 2px;
          }
        }
      }
    }

    > .box-article {
      position: relative;
      width: 100%;
      padding-bottom: 64px;
      margin-bottom: 64px;

      @include mq(xs) {
        padding-bottom: 0;
      }

      > .box-main {
        max-width: 100%;
        width: 100%;

        > .thumbnail {
          margin-bottom: 48px;
          @include mq(xs) {
            margin-bottom: 24px;
          }

          > img {
            height: 474px;
            object-fit: cover;

            @include mq(xs) {
              height: 170px;
            }
          }
        }

        > .box-overview {
          display: flex;
          margin-bottom: 48px;

          @include mq(md) {
            flex-direction: column;
            margin-bottom: 32px;
          }

          > .overview {
            font-size: 0.95vw;
            line-height: 2.2;
            max-width: 66%;
            margin-right: 105px;

            @include mq(lg) {
              font-size: 1.35vw;
              margin-right: 35px;
            }

            @include mq(md) {
              max-width: 100%;
              font-size: 1.55vw;
              margin-right: 0;
              margin-bottom: 32px;
            }

            @include mq(md) {
              font-size: 3.55vw;
            }
          }

          > .list-information {
            max-width: 33%;
            width: 100%;

            @include mq(md) {
              max-width: 100%;
            }

            > .info {
              display: flex;
              border-bottom: 1px solid $color-gray300;
              padding-bottom: 20px;
              margin-bottom: 20px;

              > .label {
                color: $color-gray600;
                font-size: 0.95vw;
                width: 110px;
                margin-right: 40px;

                @include mq(lg) {
                  font-size: 1.35vw;
                }

                @include mq(md) {
                  font-size: 1.55vw;
                }

                @include mq(md) {
                  font-size: 3.55vw;
                }
              }

              > .data {
                font-size: 0.95vw;
                max-width: 260px;
                width: 100%;

                @include mq(lg) {
                  font-size: 1.35vw;
                }

                @include mq(md) {
                  font-size: 1.55vw;
                }

                @include mq(md) {
                  font-size: 3.55vw;
                }
              }
            }
          }
        }

        > h2 {
          position: relative;
          font-size: 2vw;
          font-weight: 500;
          margin-bottom: 32px;
          padding-left: 20px;

          @include mq(lg) {
            font-size: 2.4vw;
          }

          @include mq(md) {
            font-size: 3vw;
          }

          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: $color-green400;
            border-radius: 50px;
            width: 4px;
            height: 100%;
          }
        }

        > h3 {
          font-size: 1.5vw;
          font-weight: 500;
          margin-bottom: 32px;

          @include mq(lg) {
            font-size: 1.8vw;
          }

          @include mq(md) {
            font-size: 2.5vw;
          }
        }

        > p {
          font-size: 0.95vw;
          line-height: 2.2;
          margin: 0 auto 48px;

          @include mq(lg) {
            font-size: 1.45vw;
          }

          @include mq(md) {
            font-size: 1.75vw;
          }

          @include mq(xs) {
            line-height: 2.3;
          }

          > a {
            color: $color-green400;
            text-decoration: underline;
          }
        }

        > .wp-block-gallery {
          justify-content: space-between;
        }

        > figure {
          margin-bottom: 48px;

          > img {
            height: 474px;
            object-fit: cover;

            @include mq(md) {
              height: 100%;
            }
          }
        }

        > .button {
          @include mq(md) {
            margin: 0 0 0 auto;
          }

          > .link {
            @include mq(xs) {
              font-size: 4.3vw;
            }
          }
        }
      }

      > .box-related {
        display: flex;
        border-top: 1px solid $color-gray300;
        padding-top: 64px;
        margin-top: 86px;

        @include mq(md) {
          flex-direction: column;
          padding-top: 30px;
          margin-top: 64px;
        }

        > .box-text {
          max-width: 40%;
          width: 100%;
          margin-right: 5%;

          @include mq(md) {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 24px;
          }

          > .label {
            color: $color-gray500;
            font-size: 0.95vw;
            margin-bottom: 18px;

            @include mq(lg) {
              font-size: 1.25vw;
            }

            @include mq(md) {
              font-size: 1.55vw;
            }

            @include mq(xs) {
              font-size: 3.55vw;
            }
          }

          > .works-title {
            font-size: 3vw;
            font-weight: 400;
            margin-bottom: 24px;

            @include mq(md) {
              margin-bottom: 14px;
            }

            @include mq(xs) {
              font-size: 7.5vw;
            }
          }

          > .overview {
            font-size: 0.95vw;
            margin-bottom: 38px;

            @include mq(lg) {
              font-size: 1.25vw;
            }

            @include mq(md) {
              font-size: 1.65vw;
            }

            @include mq(xs) {
              font-size: 3.55vw;
              margin-bottom: 14px;
            }
          }

          > .button {
            @include mq(md) {
              margin: 0 0 0 auto;
            }
            > .link {
              @include mq(lg) {
                font-size: 1.25vw;
              }

              @include mq(md) {
                font-size: 1.55vw;
              }

              @include mq(xs) {
                font-size: 4.3vw;
              }
            }
          }
        }

        > .box-thumbnail {
          align-self: flex-start;
          max-width: 60%;
          width: 100%;

          @include mq(md) {
            max-width: 100%;
          }

          > img {
            object-fit: cover;

            @include mq(xs) {
              height: 146px;
            }
          }
        }
      }
    }
  }
}

.scrim {
  background: rgba(0, 0, 0, 0.5) !important;
}

.wp-lightbox-overlay {
  .lightbox-image-container {
    max-width: 75vw;
    width: 100% !important;

    figure {
      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .close-button {
    svg {
      fill: $color-white;
      width: 46px;
      height: 46px;
    }
  }
}
