@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
ブレイクポイントに関して記述しているファイル
下のブレイクポイントの設定を変更するときは必ずPMに一声かける
 */
.company-page > .section-mv {
  padding: 161px 20px 0 20px;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-mv {
    padding-top: 120px;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-mv {
    padding-top: 150px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-mv {
    padding-top: 110px;
  }
}
.company-page > .section-mv > .container {
  max-width: 90vw;
  margin: 0 auto;
}
.company-page > .section-mv > .container > .box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mv > .container > .box-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.company-page > .section-mv > .container > .box-title > .page-title {
  font-size: 2.9vw;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-right: 48px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mv > .container > .box-title > .page-title {
    font-size: 3.9vw;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-mv > .container > .box-title > .page-title {
    font-size: 8.6vw;
  }
}
.company-page > .section-mv > .container > .box-title > .page-title > .english {
  display: block;
  color: #939393;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin-bottom: 22px;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-mv > .container > .box-title > .page-title > .english {
    font-size: 1.25vw;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-mv > .container > .box-title > .page-title > .english {
    font-size: 20px;
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-mv > .container > .box-title > .page-title > .english {
    font-size: 3vw;
    margin-bottom: 12px;
  }
}
.company-page > .section-mv > .container > .box-title > .overview {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1vw;
  margin-bottom: 12px;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-mv > .container > .box-title > .overview {
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-mv > .container > .box-title > .overview {
    font-size: 1.55vw;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-mv > .container > .box-title > .overview {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 3.2vw;
    margin-bottom: 0;
  }
}
.company-page > .section-mv > .container > .image {
  max-width: 100%;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mv > .container > .image {
    height: 230px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-mv > .container > .image {
    height: 158px;
  }
}
.company-page > .section-message {
  padding: 0 20px;
  margin-top: 81px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-message {
    margin-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-message {
    margin-top: 32px;
  }
}
.company-page > .section-message > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90vw;
  margin: 0 auto;
}
@media screen and (max-width: 820px) {
  .company-page > .section-message > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.company-page > .section-message > .container > .box-text {
  max-width: 40vw;
  width: 100%;
  padding-right: 24px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-message > .container > .box-text {
    max-width: 100%;
    padding-right: 24px;
  }
}
.company-page > .section-message > .container > .box-text > .title {
  font-size: 2.35vw;
  margin-bottom: 33px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-message > .container > .box-text > .title {
    font-size: 2.95vw;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-message > .container > .box-text > .title {
    font-size: 6.35vw;
    margin-bottom: 16px;
  }
}
.company-page > .section-message > .container > .box-text > .text {
  font-size: 1vw;
  line-height: 2.8;
  margin-bottom: 38px;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-message > .container > .box-text > .text {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-message > .container > .box-text > .text {
    font-size: 1.8vw;
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-message > .container > .box-text > .text {
    font-size: 3.5vw;
    line-height: 2.3;
  }
}
.company-page > .section-message > .container > .box-image {
  max-width: 50.5vw;
}
@media screen and (max-width: 820px) {
  .company-page > .section-message > .container > .box-image {
    max-width: 100%;
  }
}
.company-page > .section-message > .container > .box-image > .image {
  width: 100%;
  height: 378px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 26px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-message > .container > .box-image > .image {
    height: 337px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-message > .container > .box-image > .image {
    height: 167px;
  }
}
.company-page > .section-mission {
  --mission-bg-height: 100vh;
  background-image: url(../../../assets/imgs/company/background-mission.png);
  background-size: 100% var(--mission-bg-height);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 98vw;
  padding: 45px 70px 10px;
  margin: 81px auto 0;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission {
    padding: 45px 20px 10px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-mission {
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  }
}
.company-page > .section-mission > .container {
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container {
    max-width: 88vw;
  }
}
.company-page > .section-mission > .container > .section-title.mission {
  color: #ffffff;
  font-size: 44px;
}
@media screen and (max-width: 480px) {
  .company-page > .section-mission > .container > .section-title.mission {
    font-size: 35px;
  }
}
.company-page > .section-mission > .container > .section-title.mission > .japanese {
  display: block;
  font-size: 15px;
  line-height: 3;
}
.company-page > .section-mission > .container > .list-philosophy {
  width: 100%;
  margin-top: 88px;
}
@media screen and (max-width: 480px) {
  .company-page > .section-mission > .container > .list-philosophy {
    margin-top: 48px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy {
  margin-bottom: 147px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy {
    margin-bottom: 67px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 32px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .box-copy {
  width: 55%;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .box-copy {
    width: 100%;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .box-copy > .icon {
  width: 32px;
  height: auto;
  margin-bottom: 10px;
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .box-copy > .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 20px;
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .box-copy > .label > span {
  position: relative;
  display: inline-block;
  font-size: 13px;
  margin-left: 11px;
  padding-left: 30px;
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .box-copy > .label > span > .image {
  width: 90px;
}
@media screen and (max-width: 480px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .box-copy > .label > span > .image {
    width: 70px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .box-copy > .label > span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffffff;
  width: 18px;
  height: 1px;
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .box-copy > .copy {
  color: #ffffff;
  font-size: 3vw;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin-bottom: 41px;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .box-copy > .copy {
    margin-bottom: 27px;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .box-copy > .copy {
    font-size: 28px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .box-copy > .copy {
    font-size: 24px;
    margin-bottom: 16px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .text {
  width: 45%;
  color: #ffffff;
  font-size: 1.3vw;
  line-height: 2.8;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 23px;
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .text > .english {
  font-family: "Noto serif", serif;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .text {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .text {
    width: 100%;
    font-size: 14px;
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-text > .text {
    line-height: 2.3;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .detail-title {
  background-color: #ffffff;
  width: 100%;
  font-size: 14px;
  text-align: center;
  padding: 4px;
  margin-bottom: 41px;
}
@media screen and (max-width: 480px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .detail-title {
    margin-bottom: 30px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .detail-title > .english {
  font-family: "Noto serif", serif;
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality {
  width: 46%;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality {
    width: 100%;
    margin-bottom: 32px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .title {
  position: relative;
  color: #ffffff;
  font-size: 1.8vw;
  text-align: center;
  margin-bottom: 22px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .title {
    font-size: 24px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .title:before, .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .title:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #ffffff;
  width: 32%;
  height: 1px;
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .title:before {
  left: 0;
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .title:after {
  right: 0;
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .title > span {
  display: block;
  font-size: 1vw;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .title > span {
    font-size: 14px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .list-quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .list-quality {
    gap: 23px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .list-quality > .card-quality {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  width: 48%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  padding: 16px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .list-quality > .card-quality {
    width: calc(50% - 12px);
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .list-quality > .card-quality > .overview {
  font-size: 1.3vw;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .list-quality > .card-quality > .overview {
    font-size: 20px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .list-quality > .card-quality > .overview > .supplement {
  display: block;
  font-size: 0.9vw;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .list-quality > .card-quality > .overview > .supplement {
    font-size: 12px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .list-quality > .card-quality > .detail {
  font-size: 0.9vw;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .box-quality > .list-quality > .card-quality > .detail {
    font-size: 12px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .icon {
  width: 2%;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .icon {
    width: 4%;
    margin: 28px auto 42px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-detail > .icon {
    width: 23px;
    margin: 18px auto 32px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-result {
  text-align: center;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-result {
    margin-top: 24px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-result > .icon {
  width: 1%;
  margin-bottom: 17px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-result > .icon {
    width: 2.3%;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-result > .icon {
    width: 11px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-result > .title {
  color: #ffffff;
  font-size: 1.8vw;
  text-align: center;
  margin-bottom: 22px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-result > .title {
    font-size: 24px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-result > .title > span {
  display: block;
  font-size: 1vw;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .box-result > .title > span {
    font-size: 14px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .list-standard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .list-standard {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 23px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .list-standard {
    gap: 12px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .list-standard > .card-standard {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  width: 18.9%;
  color: #ffffff;
  padding: 16px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .list-standard > .card-standard {
    width: calc(33.333% - 16px);
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .list-standard > .card-standard {
    width: calc(50% - 6px);
    padding: 12px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .list-standard > .card-standard > .overview {
  position: relative;
  font-size: 1.1vw;
  padding-left: 20px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-mission > .container > .list-philosophy > .philosophy > .list-standard > .card-standard > .overview {
    font-size: 14px;
    padding-left: 24px;
  }
}
.company-page > .section-mission > .container > .list-philosophy > .philosophy > .list-standard > .card-standard > .overview:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  background-color: #ffffff;
  width: 12px;
  height: 12px;
}
.company-page > .section-number {
  padding: 0 20px;
  margin-top: 81px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-number {
    margin-top: 50px;
  }
}
.company-page > .section-number > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
}
@media screen and (max-width: 820px) {
  .company-page > .section-number > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.company-page > .section-number > .container > .section-title {
  margin-right: 20px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-number > .container > .section-title {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-number > .container > .section-title {
    margin-bottom: 16px;
  }
}
.company-page > .section-number > .container > .section-title > .english {
  font-size: 20px;
  margin-bottom: 22px;
}
.company-page > .section-number > .container > .list-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 61.8vw;
  width: 100%;
}
@media screen and (max-width: 820px) {
  .company-page > .section-number > .container > .list-numbers {
    max-width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.company-page > .section-number > .container > .list-numbers > .number {
  position: relative;
  background-color: #f6f6f6;
  max-width: 29.5vw;
  width: 100%;
  margin-bottom: 28px;
  padding: 42px 20px 38px 215px;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-number > .container > .list-numbers > .number {
    padding: 22px 20px 18px 135px;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-number > .container > .list-numbers > .number {
    max-width: 43vw;
    padding: 32px 20px 38px 170px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-number > .container > .list-numbers > .number {
    padding: 12px 20px 70px 10px;
    margin-bottom: 8px;
  }
}
.company-page > .section-number > .container > .list-numbers > .number:nth-child(odd) {
  margin-right: 28px;
}
@media screen and (max-width: 480px) {
  .company-page > .section-number > .container > .list-numbers > .number:nth-child(odd) {
    margin-right: 8px;
  }
}
.company-page > .section-number > .container > .list-numbers > .number > .image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.company-page > .section-number > .container > .list-numbers > .number > .box-text {
  position: relative;
  z-index: 1;
}
.company-page > .section-number > .container > .list-numbers > .number > .box-text > .label {
  font-size: 1.25vw;
}
@media screen and (max-width: 820px) {
  .company-page > .section-number > .container > .list-numbers > .number > .box-text > .label {
    font-size: 1.55vw;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-number > .container > .list-numbers > .number > .box-text > .label {
    font-size: 3.55vw;
  }
}
.company-page > .section-number > .container > .list-numbers > .number > .box-text > .number {
  font-size: 1.25vw;
}
@media screen and (max-width: 820px) {
  .company-page > .section-number > .container > .list-numbers > .number > .box-text > .number {
    font-size: 1.55vw;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-number > .container > .list-numbers > .number > .box-text > .number {
    font-size: 3.55vw;
  }
}
.company-page > .section-number > .container > .list-numbers > .number > .box-text > .number > .strong {
  font-size: 4.75vw;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-number > .container > .list-numbers > .number > .box-text > .number > .strong {
    font-size: 3.75vw;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-number > .container > .list-numbers > .number > .box-text > .number > .strong {
    font-size: 10.15vw;
  }
}
.company-page > .section-information {
  padding: 0 20px;
  margin-top: 81px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-information {
    margin-top: 50px;
  }
}
.company-page > .section-information > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
}
@media screen and (max-width: 820px) {
  .company-page > .section-information > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-information > .container > .section-title {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
.company-page > .section-information > .container > .section-title > .english {
  font-size: 20px;
  margin-bottom: 22px;
}
.company-page > .section-information > .container > .list-information {
  max-width: 61.8vw;
  width: 100%;
}
@media screen and (max-width: 820px) {
  .company-page > .section-information > .container > .list-information {
    max-width: 100%;
  }
}
.company-page > .section-information > .container > .list-information > .information {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #dfdfdf;
  padding: 32px 0;
}
@media screen and (max-width: 820px) {
  .company-page > .section-information > .container > .list-information > .information {
    padding: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-information > .container > .list-information > .information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.company-page > .section-information > .container > .list-information > .information:first-child {
  padding: 0 0 32px;
}
.company-page > .section-information > .container > .list-information > .information > .label,
.company-page > .section-information > .container > .list-information > .information > .data {
  font-size: 0.9vw;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-information > .container > .list-information > .information > .label,
  .company-page > .section-information > .container > .list-information > .information > .data {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-information > .container > .list-information > .information > .label,
  .company-page > .section-information > .container > .list-information > .information > .data {
    font-size: 1.7vw;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-information > .container > .list-information > .information > .label,
  .company-page > .section-information > .container > .list-information > .information > .data {
    font-size: 3.2vw;
  }
}
.company-page > .section-information > .container > .list-information > .information > .label > a,
.company-page > .section-information > .container > .list-information > .information > .data > a {
  color: #000000;
}
.company-page > .section-information > .container > .list-information > .information > .label {
  width: 110px;
  color: #939393;
  margin-right: 64px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-information > .container > .list-information > .information > .label {
    margin-right: 30px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-information > .container > .list-information > .information > .label {
    width: 70px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.company-page > .section-information > .container > .list-information > .information > .data {
  width: 100%;
}
.company-page > .section-information > .container > .list-information > .information > .data > .link {
  display: inline-block;
  color: #000000;
  text-decoration: underline;
  margin-left: 20px;
}
@media screen and (max-width: 480px) {
  .company-page > .section-information > .container > .list-information > .information > .data > .link {
    margin-left: 0;
  }
}
.company-page > .section-information > .container > .list-information > .information > .data > .link > .icon {
  width: 10px;
  margin: 5px;
}
.company-page > .section-history {
  padding: 0 20px;
  margin-top: 81px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-history {
    margin-top: 50px;
  }
}
.company-page > .section-history > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
}
@media screen and (max-width: 820px) {
  .company-page > .section-history > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-history > .container > .section-title {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-history > .container > .section-title {
    margin-bottom: 16px;
  }
}
.company-page > .section-history > .container > .section-title > .english {
  font-size: 20px;
  margin-bottom: 22px;
}
.company-page > .section-history > .container > .list-information {
  max-width: 61.8vw;
  width: 100%;
}
@media screen and (max-width: 820px) {
  .company-page > .section-history > .container > .list-information {
    max-width: 100%;
  }
}
.company-page > .section-history > .container > .list-information > .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}
.company-page > .section-history > .container > .list-information > .information > .label,
.company-page > .section-history > .container > .list-information > .information > .data {
  font-size: 0.9vw;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-history > .container > .list-information > .information > .label,
  .company-page > .section-history > .container > .list-information > .information > .data {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-history > .container > .list-information > .information > .label,
  .company-page > .section-history > .container > .list-information > .information > .data {
    font-size: 1.7vw;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-history > .container > .list-information > .information > .label,
  .company-page > .section-history > .container > .list-information > .information > .data {
    font-size: 3.2vw;
  }
}
.company-page > .section-history > .container > .list-information > .information > .label {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 50px;
  width: 145px;
  line-height: 1.7;
  text-align: center;
  margin-right: 32px;
  padding: 10px 23px;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-history > .container > .list-information > .information > .label {
    width: 215px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-history > .container > .list-information > .information > .label {
    padding: 10px 7px;
  }
}
.company-page > .section-history > .container > .list-information > .information > .label:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #939393;
  width: 1px;
  height: 35px;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-history > .container > .list-information > .information > .label:before {
    height: 55px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-history > .container > .list-information > .information > .label:before {
    height: 75px;
  }
}
.company-page > .section-history > .container > .list-information > .information > .data {
  max-width: 70%;
  width: 100%;
}
.company-page > .section-history > .container > .list-information > .information:last-child > .label:before {
  content: none;
}
.company-page > .section-machines {
  background-color: #f6f6f6;
  padding: 64px 20px 16px;
  margin-top: 60px;
}
@media screen and (max-width: 820px) {
  .company-page > .section-machines {
    margin-top: 48px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-machines {
    padding: 38px 20px 16px;
  }
}
.company-page > .section-machines > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
}
@media screen and (max-width: 820px) {
  .company-page > .section-machines > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-machines > .container > .section-title {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-machines > .container > .section-title {
    margin-bottom: 16px;
  }
}
.company-page > .section-machines > .container > .section-title > .english {
  font-size: 20px;
  margin-bottom: 22px;
}
.company-page > .section-machines > .container > .list-machines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 61.8vw;
}
@media screen and (max-width: 820px) {
  .company-page > .section-machines > .container > .list-machines {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
  }
}
.company-page > .section-machines > .container > .list-machines > .machines {
  max-width: 18.6vw;
  margin: 0 13px 48px;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-machines > .container > .list-machines > .machines {
    margin: 0 10.2px 30px;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-machines > .container > .list-machines > .machines {
    max-width: 42.5vw;
    max-width: 40vw;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-machines > .container > .list-machines > .machines {
    max-width: 42vw;
    margin: 0 4px 20px;
  }
}
.company-page > .section-machines > .container > .list-machines > .machines > .image {
  width: 100%;
  margin-bottom: 12px;
}
@media screen and (max-width: 480px) {
  .company-page > .section-machines > .container > .list-machines > .machines > .image {
    margin-bottom: 8px;
  }
}
.company-page > .section-machines > .container > .list-machines > .machines > .name {
  font-size: 0.95vw;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-machines > .container > .list-machines > .machines > .name {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-machines > .container > .list-machines > .machines > .name {
    font-size: 1.9vw;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-machines > .container > .list-machines > .machines > .name {
    font-size: 3.2vw;
  }
}
.company-page > .section-machines > .container > .list-machines > .machines > .maker {
  color: #939393;
  font-size: 0.9vw;
}
@media screen and (max-width: 1024px) {
  .company-page > .section-machines > .container > .list-machines > .machines > .maker {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 820px) {
  .company-page > .section-machines > .container > .list-machines > .machines > .maker {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 480px) {
  .company-page > .section-machines > .container > .list-machines > .machines > .maker {
    font-size: 3vw;
  }
}