@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
ブレイクポイントに関して記述しているファイル
下のブレイクポイントの設定を変更するときは必ずPMに一声かける
 */
.interview-page > .section-mv {
  padding: 0 20px;
  padding-top: 161px;
}
@media screen and (max-width: 1024px) {
  .interview-page > .section-mv {
    padding-top: 120px;
  }
}
@media screen and (max-width: 480px) {
  .interview-page > .section-mv {
    padding-top: 110px;
  }
}
.interview-page > .section-mv > .container {
  max-width: 90vw;
  margin: 0 auto;
}
.interview-page > .section-mv > .container > .page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.32vw;
  margin-bottom: 52px;
}
@media screen and (max-width: 1024px) {
  .interview-page > .section-mv > .container > .page-title {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 820px) {
  .interview-page > .section-mv > .container > .page-title {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 480px) {
  .interview-page > .section-mv > .container > .page-title {
    font-size: 3.7vw;
    margin-bottom: 16px;
  }
}
.interview-page > .section-mv > .container > .page-title > .english {
  color: #939393;
  font-size: 0.95vw;
  margin-right: 24px;
}
@media screen and (max-width: 1024px) {
  .interview-page > .section-mv > .container > .page-title > .english {
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 820px) {
  .interview-page > .section-mv > .container > .page-title > .english {
    font-size: 1.75vw;
  }
}
@media screen and (max-width: 480px) {
  .interview-page > .section-mv > .container > .page-title > .english {
    font-size: 3vw;
  }
}
.interview-page > .section-mv > .container > .interview-title {
  font-size: 3vw;
  font-weight: 400;
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  .interview-page > .section-mv > .container > .interview-title {
    font-size: 8.6vw;
    line-height: 1.5;
  }
}
.interview-page > .section-mv > .container > .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.interview-page > .section-mv > .container > .box-text > .position {
  color: #939393;
  font-size: 0.85vw;
  margin-right: 24px;
}
@media screen and (max-width: 1024px) {
  .interview-page > .section-mv > .container > .box-text > .position {
    font-size: 1.35vw;
  }
}
@media screen and (max-width: 820px) {
  .interview-page > .section-mv > .container > .box-text > .position {
    font-size: 1.75vw;
  }
}
@media screen and (max-width: 480px) {
  .interview-page > .section-mv > .container > .box-text > .position {
    font-size: 2.95vw;
  }
}
.interview-page > .section-mv > .container > .box-text > .name {
  font-size: 1.32vw;
}
@media screen and (max-width: 1024px) {
  .interview-page > .section-mv > .container > .box-text > .name {
    font-size: 1.55vw;
  }
}
@media screen and (max-width: 820px) {
  .interview-page > .section-mv > .container > .box-text > .name {
    font-size: 2.05vw;
  }
}
@media screen and (max-width: 480px) {
  .interview-page > .section-mv > .container > .box-text > .name {
    font-size: 4.75vw;
  }
}
.interview-page > .section-contents {
  background-color: #f6f6f6;
  padding: 93px 20px 25px;
  margin-top: 48px;
}
@media screen and (max-width: 820px) {
  .interview-page > .section-contents {
    padding: 53px 20px 25px;
    margin-top: 36px;
  }
}
@media screen and (max-width: 480px) {
  .interview-page > .section-contents {
    padding: 28px 20px 25px;
    margin-top: 26px;
  }
}
.interview-page > .section-contents > .container {
  max-width: 90vw;
  margin: 0 auto;
}
.interview-page > .section-contents > .container > .box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 94px;
}
@media screen and (max-width: 820px) {
  .interview-page > .section-contents > .container > .box-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 34px;
  }
}
@media screen and (max-width: 820px) {
  .interview-page > .section-contents > .container > .box-content.row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.interview-page > .section-contents > .container > .box-content > .box-text {
  max-width: 48.3vw;
}
@media screen and (max-width: 820px) {
  .interview-page > .section-contents > .container > .box-content > .box-text {
    max-width: 100%;
  }
}
.interview-page > .section-contents > .container > .box-content > .box-text > .title {
  position: relative;
  color: #007f41;
  font-size: 1.5vw;
  margin-bottom: 47px;
  padding-left: 16px;
}
@media screen and (max-width: 1024px) {
  .interview-page > .section-contents > .container > .box-content > .box-text > .title {
    font-size: 2vw;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 820px) {
  .interview-page > .section-contents > .container > .box-content > .box-text > .title {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 480px) {
  .interview-page > .section-contents > .container > .box-content > .box-text > .title {
    font-size: 5.4vw;
    line-height: 1.5;
  }
}
.interview-page > .section-contents > .container > .box-content > .box-text > .title:before {
  content: "";
  background-color: #007f41;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 2px;
}
.interview-page > .section-contents > .container > .box-content > .box-text > .text {
  font-size: 1vw;
  line-height: 2.8;
}
@media screen and (max-width: 1024px) {
  .interview-page > .section-contents > .container > .box-content > .box-text > .text {
    font-size: 1.3vw;
  }
}
@media screen and (max-width: 820px) {
  .interview-page > .section-contents > .container > .box-content > .box-text > .text {
    font-size: 1.6vw;
    line-height: 2.3;
  }
}
@media screen and (max-width: 480px) {
  .interview-page > .section-contents > .container > .box-content > .box-text > .text {
    font-size: 3.5vw;
    line-height: 2.2;
  }
}
.interview-page > .section-contents > .container > .box-content > .image {
  max-width: 35.2vw;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media screen and (max-width: 820px) {
  .interview-page > .section-contents > .container > .box-content > .image {
    max-width: 100%;
    margin-top: 24px;
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 480px) {
  .interview-page > .section-contents > .container > .box-content > .image {
    height: 254px;
  }
}
.interview-page > .section-contents > .container > .box-content.no-image > .box-text {
  max-width: 100%;
}
.interview-page > .section-contents > .container > .box-content.no-image > .image {
  max-width: 100%;
}
.interview-page .section-other-interview {
  padding: 0 20px;
  margin-top: 64px;
  margin-bottom: 64px;
}
@media screen and (max-width: 1024px) {
  .interview-page .section-other-interview {
    margin-top: 44px;
    margin-bottom: 54px;
  }
}
@media screen and (max-width: 480px) {
  .interview-page .section-other-interview {
    margin: 48px 0;
  }
}
.interview-page .section-other-interview > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .interview-page .section-other-interview > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.interview-page .section-other-interview > .container > .box-text {
  max-width: 30vw;
  margin-right: 48px;
}
@media screen and (max-width: 1024px) {
  .interview-page .section-other-interview > .container > .box-text {
    max-width: 50vw;
  }
}
@media screen and (max-width: 480px) {
  .interview-page .section-other-interview > .container > .box-text {
    max-width: 100%;
    margin-right: 0;
  }
}
.interview-page .section-other-interview > .container > .box-text > .title {
  color: #939393;
  font-size: 0.95vw;
  margin-bottom: 32px;
}
@media screen and (max-width: 1024px) {
  .interview-page .section-other-interview > .container > .box-text > .title {
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 820px) {
  .interview-page .section-other-interview > .container > .box-text > .title {
    font-size: 1.75vw;
  }
}
@media screen and (max-width: 480px) {
  .interview-page .section-other-interview > .container > .box-text > .title {
    font-size: 3.55vw;
  }
}
.interview-page .section-other-interview > .container > .box-text > .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 38px;
}
@media screen and (max-width: 480px) {
  .interview-page .section-other-interview > .container > .box-text > .box-text {
    margin-bottom: 8px;
  }
}
.interview-page .section-other-interview > .container > .box-text > .box-text > .position {
  color: #939393;
  font-size: 0.85vw;
  margin-right: 20px;
}
@media screen and (max-width: 1024px) {
  .interview-page .section-other-interview > .container > .box-text > .box-text > .position {
    font-size: 1.15vw;
  }
}
@media screen and (max-width: 820px) {
  .interview-page .section-other-interview > .container > .box-text > .box-text > .position {
    font-size: 1.65vw;
  }
}
@media screen and (max-width: 480px) {
  .interview-page .section-other-interview > .container > .box-text > .box-text > .position {
    font-size: 2.95vw;
  }
}
.interview-page .section-other-interview > .container > .box-text > .box-text > .name {
  font-size: 1.3vw;
}
@media screen and (max-width: 1024px) {
  .interview-page .section-other-interview > .container > .box-text > .box-text > .name {
    font-size: 1.45vw;
  }
}
@media screen and (max-width: 820px) {
  .interview-page .section-other-interview > .container > .box-text > .box-text > .name {
    font-size: 1.65vw;
  }
}
@media screen and (max-width: 480px) {
  .interview-page .section-other-interview > .container > .box-text > .box-text > .name {
    font-size: 3.75vw;
  }
}
.interview-page .section-other-interview > .container > .box-text > .interview-title {
  position: relative;
  font-size: 1.7vw;
  margin-bottom: 49px;
}
@media screen and (max-width: 1024px) {
  .interview-page .section-other-interview > .container > .box-text > .interview-title {
    font-size: 2vw;
    margin-bottom: 29px;
  }
}
@media screen and (max-width: 820px) {
  .interview-page .section-other-interview > .container > .box-text > .interview-title {
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 480px) {
  .interview-page .section-other-interview > .container > .box-text > .interview-title {
    font-size: 4.6vw;
    margin-bottom: 30px;
  }
}
.interview-page .section-other-interview > .container > .box-text > .interview-title:before, .interview-page .section-other-interview > .container > .box-text > .interview-title:after {
  content: "";
  position: absolute;
  background-image: url(../../../assets/imgs/recruit/comment.png);
  width: 29px;
  height: 21px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}
.interview-page .section-other-interview > .container > .box-text > .interview-title:before {
  top: 3px;
  left: -18px;
}
@media screen and (max-width: 480px) {
  .interview-page .section-other-interview > .container > .box-text > .interview-title:before {
    left: -12px;
  }
}
.interview-page .section-other-interview > .container > .box-text > .interview-title:after {
  bottom: 1px;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media screen and (max-width: 480px) {
  .interview-page .section-other-interview > .container > .box-text > .button {
    margin: 0 0 32px auto;
  }
}
.interview-page .section-other-interview > .container > .box-text > .button > .link {
  padding: 6px 67px 6px 2px;
  font-size: 1.3vw;
}
@media screen and (max-width: 820px) {
  .interview-page .section-other-interview > .container > .box-text > .button > .link {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 480px) {
  .interview-page .section-other-interview > .container > .box-text > .button > .link {
    font-size: 4.2vw;
    padding: 5px 86px 16px 0;
  }
}
@media screen and (max-width: 480px) {
  .interview-page .section-other-interview > .container > .box-text > .button > .link > .icon {
    width: 42px;
    top: 37%;
  }
}
.interview-page .section-other-interview > .container > .image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 50.5vw;
}
@media screen and (max-width: 480px) {
  .interview-page .section-other-interview > .container > .image {
    max-width: 100%;
  }
}