@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
ブレイクポイントに関して記述しているファイル
下のブレイクポイントの設定を変更するときは必ずPMに一声かける
 */
.news-page > .section-mv,
.works-page > .section-mv {
  padding: 161px 20px 0 20px;
}
@media screen and (max-width: 1024px) {
  .news-page > .section-mv,
  .works-page > .section-mv {
    padding-top: 120px;
  }
}
@media screen and (max-width: 480px) {
  .news-page > .section-mv,
  .works-page > .section-mv {
    padding-top: 110px;
  }
}
.news-page > .section-mv > .container,
.works-page > .section-mv > .container {
  max-width: 90vw;
  margin: 0 auto;
}
.news-page > .section-mv > .container > .box-title,
.works-page > .section-mv > .container > .box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
}
@media screen and (max-width: 480px) {
  .news-page > .section-mv > .container > .box-title,
  .works-page > .section-mv > .container > .box-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.news-page > .section-mv > .container > .box-title > .page-title,
.works-page > .section-mv > .container > .box-title > .page-title {
  font-size: 2.9vw;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-right: 48px;
}
@media screen and (max-width: 820px) {
  .news-page > .section-mv > .container > .box-title > .page-title,
  .works-page > .section-mv > .container > .box-title > .page-title {
    font-size: 8.6vw;
    margin-bottom: 6px;
    margin-right: 0;
  }
}
.news-page > .section-mv > .container > .box-title > .page-title > .english,
.works-page > .section-mv > .container > .box-title > .page-title > .english {
  display: block;
  color: #939393;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin-bottom: 22px;
}
@media screen and (max-width: 480px) {
  .news-page > .section-mv > .container > .box-title > .page-title > .english,
  .works-page > .section-mv > .container > .box-title > .page-title > .english {
    font-size: 3vw;
    margin-bottom: 19px;
  }
}
.news-page > .section-mv > .container > .box-title > .overview,
.works-page > .section-mv > .container > .box-title > .overview {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1vw;
  margin-bottom: 12px;
}
@media screen and (max-width: 480px) {
  .news-page > .section-mv > .container > .box-title > .overview,
  .works-page > .section-mv > .container > .box-title > .overview {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 3.2vw;
    margin-bottom: 0;
  }
}
.news-page > .section-mv > .container > .image,
.works-page > .section-mv > .container > .image {
  max-width: 100%;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 1024px) {
  .news-page > .section-mv > .container > .image,
  .works-page > .section-mv > .container > .image {
    height: 280px;
  }
}
@media screen and (max-width: 480px) {
  .news-page > .section-mv > .container > .image,
  .works-page > .section-mv > .container > .image {
    height: 158px;
  }
}
.news-page > .section-contents,
.works-page > .section-contents {
  padding: 0 20px;
  margin-top: 64px;
  margin-bottom: 104px;
}
@media screen and (max-width: 820px) {
  .news-page > .section-contents,
  .works-page > .section-contents {
    margin-top: 44px;
  }
}
@media screen and (max-width: 640px) {
  .news-page > .section-contents,
  .works-page > .section-contents {
    margin-top: 35px;
  }
}
@media screen and (max-width: 480px) {
  .news-page > .section-contents,
  .works-page > .section-contents {
    margin-bottom: 64px;
  }
}
.news-page > .section-contents > .container,
.works-page > .section-contents > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
}
@media screen and (max-width: 820px) {
  .news-page > .section-contents > .container,
  .works-page > .section-contents > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.news-page > .section-contents > .container > .box-category,
.works-page > .section-contents > .container > .box-category {
  max-width: 20vw;
  margin-right: 5%;
}
@media screen and (max-width: 1024px) {
  .news-page > .section-contents > .container > .box-category,
  .works-page > .section-contents > .container > .box-category {
    max-width: 15vw;
    width: 100%;
  }
}
@media screen and (max-width: 820px) {
  .news-page > .section-contents > .container > .box-category,
  .works-page > .section-contents > .container > .box-category {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }
}
.news-page > .section-contents > .container > .box-category.under,
.works-page > .section-contents > .container > .box-category.under {
  background-color: #f6f6f6;
}
.news-page > .section-contents > .container > .box-category > .toggle-category,
.works-page > .section-contents > .container > .box-category > .toggle-category {
  display: block;
  border: none;
  background-color: transparent;
  font-family: "futura-pt", "dnp-shuei-mincho-pr6n", sans-serif;
  color: #939393;
  font-size: 0.95vw;
  text-align: left;
  letter-spacing: 0.1em;
  margin-bottom: 34px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 820px) {
  .news-page > .section-contents > .container > .box-category > .toggle-category,
  .works-page > .section-contents > .container > .box-category > .toggle-category {
    font-size: 1.75vw;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 480px) {
  .news-page > .section-contents > .container > .box-category > .toggle-category,
  .works-page > .section-contents > .container > .box-category > .toggle-category {
    position: relative;
    border-bottom: 1px solid #939393;
    font-size: 3.55vw;
    width: 100%;
    padding: 0 0 13px;
  }
  .news-page > .section-contents > .container > .box-category > .toggle-category:before,
  .works-page > .section-contents > .container > .box-category > .toggle-category:before {
    content: "";
    position: absolute;
    right: 0;
    border-top: 1px solid #939393;
    border-right: 1px solid #939393;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@media screen and (max-width: 480px) {
  .news-page > .section-contents > .container > .box-category .category-dropdown,
  .works-page > .section-contents > .container > .box-category .category-dropdown {
    display: none;
  }
}
.news-page > .section-contents > .container > .box-news,
.works-page > .section-contents > .container > .box-news {
  max-width: 75vw;
  width: 100%;
}
@media screen and (max-width: 820px) {
  .news-page > .section-contents > .container > .box-news,
  .works-page > .section-contents > .container > .box-news {
    max-width: 100%;
  }
}
.news-page > .section-contents > .container > .box-news > .list-news,
.works-page > .section-contents > .container > .box-news > .list-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .news-page > .section-contents > .container > .box-news > .list-news,
  .works-page > .section-contents > .container > .box-news > .list-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.news-page > .section-contents > .container > .box-news > .list-news > .news,
.works-page > .section-contents > .container > .box-news > .list-news > .news {
  max-width: 22.45vw;
  width: 100%;
  margin-left: 34px;
  margin-bottom: 64px;
}
@media screen and (max-width: 1024px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news,
  .works-page > .section-contents > .container > .box-news > .list-news > .news {
    max-width: 32.45vw;
    margin-left: 24px;
  }
}
@media screen and (max-width: 820px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news,
  .works-page > .section-contents > .container > .box-news > .list-news > .news {
    max-width: 27.05vw;
    margin: 0 12px 32px;
  }
}
@media screen and (max-width: 480px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news,
  .works-page > .section-contents > .container > .box-news > .list-news > .news {
    max-width: 100%;
    margin: 0 0 32px;
  }
}
.news-page > .section-contents > .container > .box-news > .list-news > .news > .link:hover,
.works-page > .section-contents > .container > .box-news > .list-news > .news > .link:hover {
  opacity: 0.5;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .thumbnail,
.works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .thumbnail {
  width: 100%;
  height: 231px;
  margin-bottom: 14px;
}
@media screen and (max-width: 1024px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .thumbnail,
  .works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .thumbnail {
    height: 151px;
  }
}
@media screen and (max-width: 480px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .thumbnail,
  .works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .thumbnail {
    height: 213px;
  }
}
.news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .thumbnail > img,
.works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .thumbnail > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .title,
.works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .title {
  color: #000000;
  font-size: 1vw;
  margin-bottom: 8px;
}
@media screen and (max-width: 1024px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .title,
  .works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .title {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 480px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .title,
  .works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .title {
    font-size: 3.7vw;
    margin-bottom: 0;
  }
}
.news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .overview,
.works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .overview {
  border-bottom: 1px solid #f6f6f6;
  color: #939393;
  font-size: 0.85vw;
  padding-bottom: 12px;
  margin-bottom: 8px;
}
@media screen and (max-width: 1024px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .overview,
  .works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .overview {
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 820px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .overview,
  .works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .overview {
    font-size: 1.55vw;
  }
}
@media screen and (max-width: 480px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .overview,
  .works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .overview {
    font-size: 2.95vw;
  }
}
.news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation,
.works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .date,
.works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .date {
  color: #939393;
  font-size: 0.85vw;
}
@media screen and (max-width: 1024px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .date,
  .works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .date {
    font-size: 1.35vw;
  }
}
@media screen and (max-width: 480px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .date,
  .works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .date {
    font-size: 2.95vw;
  }
}
.news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .list-category,
.works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .list-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .list-category > .category,
.works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .list-category > .category {
  position: relative;
  color: #007f41;
  font-size: 0.85vw;
  margin-left: 7px;
  padding-left: 14px;
}
@media screen and (max-width: 1024px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .list-category > .category,
  .works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .list-category > .category {
    font-size: 1.35vw;
  }
}
@media screen and (max-width: 480px) {
  .news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .list-category > .category,
  .works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .list-category > .category {
    font-size: 2.95vw;
  }
}
.news-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .list-category > .category:before,
.works-page > .section-contents > .container > .box-news > .list-news > .news > .link > .box-imformation > .list-category > .category:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50px;
  background-color: #007f41;
  width: 7px;
  height: 7px;
}
.news-page > .section-contents > .container > .box-news > .box-pagenation,
.works-page > .section-contents > .container > .box-news > .box-pagenation {
  text-align: center;
}
.news-page > .section-contents > .container > .box-news > .box-pagenation > .page-numbers,
.works-page > .section-contents > .container > .box-news > .box-pagenation > .page-numbers {
  color: #000000;
  font-size: 1vw;
  margin: 0 16px;
}
.news-page > .section-contents > .container > .box-news > .box-pagenation > .page-numbers.current,
.works-page > .section-contents > .container > .box-news > .box-pagenation > .page-numbers.current {
  color: #007f41;
}
.news-page > .section-contents > .container > .box-news > .box-pagenation > .page-numbers > svg,
.works-page > .section-contents > .container > .box-news > .box-pagenation > .page-numbers > svg {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}
.news-page > .section-category,
.works-page > .section-category {
  background-color: #f6f6f6;
  padding: 32px 20px;
}

@media screen and (max-width: 820px) {
  .list-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.list-category > .category {
  margin-bottom: 18px;
}
.list-category > .category:hover {
  opacity: 0.5;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
@media screen and (max-width: 820px) {
  .list-category > .category {
    margin-right: 5px;
    margin-bottom: 16px;
  }
}
.list-category > .category > .link {
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #727171;
  color: #727171;
  font-size: 0.9vw;
  padding: 8px 20px;
}
@media screen and (max-width: 1024px) {
  .list-category > .category > .link {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 820px) {
  .list-category > .category > .link {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 480px) {
  .list-category > .category > .link {
    font-size: 3vw;
  }
}
.list-category > .category.active > .link {
  border: 1px solid #007f41;
  background-color: #f3f7f5;
  color: #007f41;
}