@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
ブレイクポイントに関して記述しているファイル
下のブレイクポイントの設定を変更するときは必ずPMに一声かける
 */
.gallery-page > .box-overview {
  max-width: 1000px;
  margin: 0 auto;
}
.gallery-page > .box-overview > .text {
  font-size: 12px;
  line-height: 2.5;
}
.gallery-page > .section-content {
  max-width: 1332px;
  margin: 0 auto;
  padding: 0 20px;
}
.gallery-page > .section-content > .list-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery-page > .section-content > .list-gallery > .gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 9px 18px;
}
.gallery-page > .section-content > .list-gallery > .gallery > .link > .image > img {
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-page > .section-content > .list-gallery > .gallery:first-child, .gallery-page > .section-content > .list-gallery > .gallery:nth-child(2), .gallery-page > .section-content > .list-gallery > .gallery:nth-child(5), .gallery-page > .section-content > .list-gallery > .gallery:last-child {
  max-width: 430px;
}
.gallery-page > .section-content > .list-gallery > .gallery:nth-child(3), .gallery-page > .section-content > .list-gallery > .gallery:nth-child(4), .gallery-page > .section-content > .list-gallery > .gallery:nth-child(6), .gallery-page > .section-content > .list-gallery > .gallery:nth-child(7) {
  max-width: 189px;
}