@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
ブレイクポイントに関して記述しているファイル
下のブレイクポイントの設定を変更するときは必ずPMに一声かける
 */
.interview-page > .section-mv {
  padding: 0 20px;
}
.interview-page > .section-mv > .container {
  max-width: 90vw;
  margin: 0 auto;
}
.interview-page > .section-mv > .container > .page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2vw;
  margin-bottom: 52px;
}
.interview-page > .section-mv > .container > .page-title > .english {
  color: #939393;
  font-size: 0.95vw;
  margin-right: 24px;
}
.interview-page > .section-mv > .container > .interview-title {
  font-size: 2vw;
  margin-bottom: 20px;
}
.interview-page > .section-mv > .container > .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.interview-page > .section-mv > .container > .box-text > .position {
  color: #939393;
  font-size: 0.85vw;
  margin-right: 24px;
}
.interview-page > .section-mv > .container > .box-text > .name {
  font-size: 1.2vw;
}