@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
ブレイクポイントに関して記述しているファイル
下のブレイクポイントの設定を変更するときは必ずPMに一声かける
 */
.price-page > .section-mv {
  padding: 0 20px;
  margin-top: 161px;
}
.price-page > .section-mv > .container {
  max-width: 90vw;
  margin: 0 auto;
}
.price-page > .section-mv > .container > .page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.32vw;
  margin-bottom: 52px;
}
.price-page > .section-mv > .container > .page-title > .english {
  color: #939393;
  font-size: 0.95vw;
  margin-right: 24px;
}
.price-page > .section-mv > .container > .interview-title {
  font-size: 3vw;
  font-weight: 500;
  margin-bottom: 20px;
}
.price-page > .section-mv > .container > .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price-page > .section-mv > .container > .box-text > .position {
  color: #939393;
  font-size: 0.85vw;
  margin-right: 24px;
}
.price-page > .section-mv > .container > .box-text > .name {
  font-size: 1.32vw;
}