@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
ブレイクポイントに関して記述しているファイル
下のブレイクポイントの設定を変更するときは必ずPMに一声かける
 */
.post-flow-page > .post-content {
  max-width: 90vw;
  margin: 161px auto 0;
}
.post-flow-page > .post-content > .box-firstview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}
.post-flow-page > .post-content > .box-firstview > .box-overview > .page-title {
  color: #939393;
  font-size: 0.95vw;
}
.post-flow-page > .post-content > .box-firstview > .box-overview > .title {
  font-family: "dnp-shuei-mincho-pr6n", sans-serif;
  font-size: 2.9vw;
  font-weight: 400;
  margin-bottom: 10px;
}
.post-flow-page > .post-content > .box-firstview > .box-overview > .box-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post-flow-page > .post-content > .box-firstview > .box-overview > .box-information > .date {
  color: #939393;
  font-size: 0.85vw;
  margin-right: 36px;
}
.post-flow-page > .post-content > .box-firstview > .box-overview > .box-information > .list-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.post-flow-page > .post-content > .box-firstview > .box-overview > .box-information > .list-category > .category {
  position: relative;
  color: #007f41;
  font-size: 0.85vw;
  margin-left: 7px;
  padding-left: 14px;
}
.post-flow-page > .post-content > .box-firstview > .box-overview > .box-information > .list-category > .category:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50px;
  background-color: #007f41;
  width: 7px;
  height: 7px;
}
.post-flow-page > .post-content > .box-firstview > .button {
  max-width: 12.3vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.post-flow-page > .post-content > .box-article {
  border-bottom: 1px solid #f6f6f6;
  position: relative;
  width: 100%;
  padding-bottom: 64px;
  margin-bottom: 64px;
}
.post-flow-page > .post-content > .box-article > .box-main {
  max-width: 100%;
  width: 100%;
}
.post-flow-page > .post-content > .box-article > .box-main > .thumbnail {
  margin-bottom: 48px;
}
.post-flow-page > .post-content > .box-article > .box-main > .thumbnail > img {
  height: 474px;
  -o-object-fit: cover;
     object-fit: cover;
}
.post-flow-page > .post-content > .box-article > .box-main > .box-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}
.post-flow-page > .post-content > .box-article > .box-main > .box-overview > .overview {
  font-size: 0.95vw;
  line-height: 2.2;
  max-width: 66%;
  margin-right: 105px;
}
.post-flow-page > .post-content > .box-article > .box-main > .box-overview > .list-information {
  max-width: 33%;
  width: 100%;
}
.post-flow-page > .post-content > .box-article > .box-main > .box-overview > .list-information > .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.post-flow-page > .post-content > .box-article > .box-main > .box-overview > .list-information > .info > .label {
  color: #727171;
  font-size: 0.95vw;
  width: 110px;
  margin-right: 40px;
}
.post-flow-page > .post-content > .box-article > .box-main > .box-overview > .list-information > .info > .data {
  font-size: 0.95vw;
  max-width: 260px;
  width: 100%;
}
.post-flow-page > .post-content > .box-article > .box-main > h2 {
  position: relative;
  font-size: 2vw;
  font-weight: 500;
  margin-bottom: 32px;
  padding-left: 20px;
}
.post-flow-page > .post-content > .box-article > .box-main > h2:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #007f41;
  border-radius: 50px;
  width: 4px;
  height: 100%;
}
.post-flow-page > .post-content > .box-article > .box-main > h3 {
  font-size: 1.5vw;
  font-weight: 500;
  margin-bottom: 32px;
}
.post-flow-page > .post-content > .box-article > .box-main > p {
  font-size: 0.95vw;
  line-height: 2.2;
  margin: 0 auto 48px;
}
@media screen and (max-width: 480px) {
  .post-flow-page > .post-content > .box-article > .box-main > p {
    line-height: 2.3;
  }
}
.post-flow-page > .post-content > .box-article > .box-main > p > a {
  color: #007f41;
  text-decoration: underline;
}
.post-flow-page > .post-content > .box-article > .box-main > .wp-block-gallery {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.post-flow-page > .post-content > .box-article > .box-main > figure {
  margin-bottom: 48px;
}
.post-flow-page > .post-content > .box-article > .box-main > figure > img {
  height: 474px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 820px) {
  .post-flow-page > .post-content > .box-article > .box-main > figure > img {
    height: 100%;
  }
}
.post-flow-page > .post-content > .box-article > .box-main > .button {
  max-width: 12.3vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.post-flow-page > .post-content > .box-article > .box-related {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #dfdfdf;
  padding-top: 64px;
  margin-top: 64px;
}
.post-flow-page > .post-content > .box-article > .box-related > .box-text {
  max-width: 40%;
  width: 100%;
  margin-right: 5%;
}
.post-flow-page > .post-content > .box-article > .box-related > .box-text > .label {
  color: #939393;
  font-size: 0.95vw;
  margin-bottom: 18px;
}
.post-flow-page > .post-content > .box-article > .box-related > .box-text > .works-title {
  font-size: 3vw;
  font-weight: 400;
  margin-bottom: 24px;
}
.post-flow-page > .post-content > .box-article > .box-related > .box-text > .overview {
  font-size: 0.95vw;
  margin-bottom: 38px;
}
.post-flow-page > .post-content > .box-article > .box-related > .box-thumbnail {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 60%;
  width: 100%;
}
.post-flow-page > .post-content > .box-article > .box-related > .box-thumbnail > img {
  -o-object-fit: cover;
     object-fit: cover;
}
.post-flow-page > .post-content > .button {
  max-width: 12.3vw;
  margin-bottom: 64px;
}
.post-flow-page > .post-content > .button > .link > .icon {
  right: 15px;
}

.scrim {
  background: rgba(0, 0, 0, 0.5) !important;
}

.wp-lightbox-overlay .lightbox-image-container {
  max-width: 75vw;
  width: 100% !important;
}
.wp-lightbox-overlay .lightbox-image-container figure img {
  max-width: 100%;
  width: 100%;
}
.wp-lightbox-overlay .close-button svg {
  fill: #ffffff;
  width: 46px;
  height: 46px;
}